<div>
	<div>
		<h2>{{ title_list_products }}</h2>
	</div>
	<div>
		{% for product in posts %}
		<div>
			<h3>{{ product.title }}</h3>
			{% if product.meta("product_pictures") %} {% set img =
			product.meta("product_pictures")[0] %}
			<picture>
				<source
					srcset="
						{{Image(img.product_picture).src|resize(500,
						500)|tojpg|towebp}}
					"
					type="image/webp"
				/>
				<img
					class="lazy"
					data-src="{{Image(img.product_picture).src|resize(500, 500)|tojpg}}"
					src="{{Image(img.product_picture).src|resize(10, 10)|tojpg}}"
					alt="{{ product.title }}"
					width="500"
					height="500"
					type="image/jpeg"
					loading="lazy"
				/>
			</picture>
			{% endif %}
		</div>
		{% endfor %}
	</div>
</div>
